* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

  /* SECTION 1: Header */

header {
  background-color:#1F2937;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 13em;
  padding-right: 13em;
}
 
#headerlogo {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

.flex-container1 {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.flex-container1 ul {
  display: flex;
  list-style-type: none;
  gap: 4em;
}

.para1,
a:link {
  font-size: 18px;
  color: #E5E7EB;
  text-decoration: none;
}

 /* SECTION2 : */

 .awesomeheader {
   padding-top: 7em;
   padding-bottom: 7em;
   padding-left: 0;
   padding-right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 2em;
 }

 .awesomeheader .left {
   display: flex;
   flex-direction: column;
   gap: 3px;
 }

 .awesomeheader .right {
   flex-shrink: 0;
   width: 55%;
 }

 .awesome {
   font-size: 48px;
   font-weight: 900;
   color: #F9FAF8;
 }

button {
  background-color: #3882F6;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 1em;
  padding-right: 1em;
  width: 120px;
  border-radius: 8px;
  margin-top: 10px;
}

.image {
  background-color: grey;
  height: 215px;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5px;
}

.awesomeheader button {
  border: none;
}

.button1 {
  text-decoration: none;
}

/* SECTION 3: Some Random Information */

.flex-container2 {
  background-color: white;
  padding-top: 1em;
  padding-bottom: 2em;
  padding-left: 13em;
  padding-right: 13em;
  margin-top: 3em;
  margin-right: 0;
  margin-bottom: 6em;
  margin-left: 0;
}

h2 {
  color: #1F2937;
  font-weight: 900;
  font-size: 36px;
  text-align: center;
  margin-bottom: 1.5em;
}

.package {
  display: flex;
  justify-content: center;
  color: #E5E7EB;
  font-size: 18px;
  gap: 1.3em;
}

.para3 {
  padding-right: 20px;;
  text-align: center;
  margin-right: 2px;
}

.square {
  max-width: 200px;
}

.boxes {
  width: 150px;
  height: 150px;
  padding: 10px;;
  border: 5px solid #3882F6;
  border-radius: 18px;
  margin-bottom: 0.5em;
}

/* SECTION 4: Quote */

.quote {
  background-color: #E5E7EB;
  padding-top: 8em;
  padding-bottom: 8em;
  padding-left: 13em;
  padding-right: 13em;
  height: 190px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.quote p {
  color: #1F2937;
  padding-left: 8.2em;
  font-size: 36px;
  font-weight: 100;
  font-style: italic;
}

/* SECTION 5: Action Box */

.flex-container3 {
  height: 100px;
  background-color: #F9FAF8;
  padding-top: 7em;
  padding-bottom: 7em;
  padding-left: 13em;
  padding-right: 13em; 
  margin-bottom: 3em;
}

.call {
   height: 145px;
   font-size: 26px;
   background-color: #3882F6;
   color: #F9FAF8;
   border-radius: 8px;
   display: flex;
   align-items: center;
   justify-content: space-around;
}

.flex-container3 p {
   font-size: 18px;
}

.flex-container3 button {
   border: none;
   border: 2px solid;
   border-color: #F9FAF8;
   color: #F9FAF8;
  
}

/* SECTION 6: Footer */

.footer {
  background-color: #1F2937;
  height: 105px;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: center;
}
