* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

/* SECTION 1: Header */
.flex-container1 {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 13em;
  padding-right: 13em;
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

#headerlogo {
  color: #F9FAF8;
  font-size: 24px;
}

ul {
  display: flex;
  list-style-type: none;
  gap: 2em;
}

a {
 text-decoration: none;
 color: #E5E7EB;
 font-size: 18px; 
}


/* SECTION 2: Some Random Information */
.awesome {
  display: flex;
  align-items: center;
  padding-top: 7em 0;
  padding-bottom: 7em 0;
  padding-left: 0;
  padding-right: 0;
  justify-content: center;
  gap: 6em;
}

.awesome 
.left{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.awesome.header {
  font-size: 48px;
  font-weight: 900px;
  color: #F9FAF8;
}

.para1 {
  font-size: 18px;
  color: #E5E7EB;
}

.awesome .right {
  flex-shrink: 0;
  width: 50%;
}

.signup1 {
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 1em;
  padding-right: 1em;
  width: 80px;
  background-color: #3882F6;
  border-radius: 8px;
  color: #F9FAF8;
  text-align: center;
}


.image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  height: 215px;
  
}

.para2 {
  font-size: 18px;
  color: #F9FAF8;
}


/* SECTION 3  */

.flex-container2 {
  background-color: white;
  padding-top: 1em;
  padding-bottom: 11em;
  padding-left: 13em;
  padding-right: 13em;
  margin-top: 3em;
  margin-right: 0;
  margin-bottom: 6em;
  margin-left: 0;
}


h2 {
  font-weight: 900;
  font-size: 36px;
  color: #1F2937;
  text-align: center;
  margin-bottom: 1.5em;
}

.package {
  display: flex;
  justify-content: center;
  color: #E5E7EB;
  font-size: 18px;
  
  gap: 1.3em;
}

.para3 {
  padding-right: 20px;;
  text-align: center;
  margin-right: 2px;
}

.square {
  max-width: 200px;
}

.boxes {
  margin-bottom: 0.5em;
  width: 150px;
  height: 150px;
  padding: 10px;;
  border: 5px solid #3882F6;
  border-radius: 18px;
}

/* SECTION 4 */

